<%- include('header.ejs'); %>

		<div class="content">
			<h2>Admin Dashboard Page</h2>
			<div>
				<p>Your admin dashboard logic</p>
			</div>
			<a href="/home" class="text signup-link">Go back to Home</a>
		</div>
	</body>
</html>