<%- include('header.ejs'); %>

		<div class="content">
			<h2>Home Page</h2>
			<p>Welcome back, <%= username %>!</p>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/Ox-9eOc3bQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</body>
</html>